.topbar {
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: #040E00;
    display: flex;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 3;
    top: 0;
}

.topbar-mobile {
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: #031400;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 3;
    top: 0;
}

.search-box {
    width: 35%;
    z-index: 4;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 5px;
}

#search-input {
    flex-grow: 1;
}

#clear-search {
    cursor: pointer;
    color: #aaa;
    margin-left: -30px;
    z-index: 5;
}

.search-box input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.topbar-icons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar-icons a span {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    height: 100%;
    margin: 5px;
}

.inactive {
    color: gray !important;
}

.topbar-icons-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar-icons-right button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.topbar-icons-right a, .topbar-icons a {
    text-decoration: none;
}

.person-img {
    margin-left: 5px;
    margin-right: 10px;
    height: 35px;
    border-radius: 100%;
    border: solid;
    border-color: #296F1D;
    border-width: 4px;
    z-index: 4;
    position: fixed;
    top: 14px;
    right: 10px;
}

.person-context {
    margin-left: -100px;
    padding: 0 10px;
    background-color: #1d201c;
    z-index: 5;
    position: relative;
    /* float: right; */
    border-radius: 10px;
    opacity: 0;

    position: fixed;
    top: 70px;
    right: 10px;
    
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s, transform 0.3s;
    transform: translateY(-10px);
}

.person-context.show-modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.person-btn {
    background-color: #303D2B;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px 0;
}

.person-context a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .topbar {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        position: fixed;
        top: unset;
        bottom: -1px;
    }

    .search-box {
        width: 70%;
    }

    .topbar-icons a span {
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
        height: 100%;
        margin: 15px;
    }
}